@page
@model IndexModel
@{
    ViewData["Title"] = "Home||Torrent Streamer";
}
<header class="d-flex justify-content-center mt-5">
    
        @*<div class="form-group">
            <input type="file" name="torrentFile" accept=".torrent" />
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>*@
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
                    <div class="form-group">
                        <label for="fileInput">Upload Torrent File:</label>
                        <input type="file" name="torrentFile" accept=".torrent" class="form-control mb-3" id="fileInput">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                    </form>
                </div>
                <form method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="magnetLinkInput">Enter Magnet Link:</label>
                        <input required asp-for="@Model.MagnetUrl" type="text" class="form-control mb-3" id="magnetLinkInput">
                        <button type="submit" class="btn btn-primary" asp-page-handler="AddMagnet">Add</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
   
</header>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-4">Previously Uploaded Torrents </h4>
                <div class="table-wrap">
                    <form method="post">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th>File Name</th>
                                    <th>Uploaded On</th>
                                    <th>Size</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var file in Model.TorrentFiles)
                                {
                                    <tr>
                                        <td>@file.FileName</td>
                                        <td>@file.DateAdded.ToString("dd/MM/yyyy H:mm")</td>
                                        <td>@((file.FileSize / 1024).ToString("N1")) Kb</td>
                                        <td class="border-bottom-0">
                                            <a asp-page="./Stream" asp-route-id="@file.Id" class="btn btn-primary">Stream</a>
                                            <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@file.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


